body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-left: 50px;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    /* width: 300px; */
    width: 50%;
}
.container.list {
    text-align: center;
    /* width: 150px; */
    width: 50%;
    margin: 40px;
    padding-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 30px;
    background-color: #f0f0f0;
}

.first-child {
    border-top: 0px;
    color: #333;
}

.last-child {
    border-bottom: 0px;
    color: rgb(255, 116, 3);
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #3f9cd9;
    color: white;
    font-size: 30px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}

button:hover {
    background-color: #4575a0;
}

#result_num {
    margin-top: 20px;
    font-size: 100px;
    color: #333;
}

h2 {
    margin-top: 20px;
    font-size: 30px;
    color: #333;
}

